# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
idea/
out
gen
/.idea/
aqs-api/target/
aqs-bean/target/
aqs-common/target/
aqs-repository/src/main/resources/
aqs-repository/target/
aqs-service/target/
